<!DOCTYPE html>
<html>
	<head>

		<meta charset="UTF-8">
		<title>通号生产测试远程大数据管理中心</title>
	</head>
	<body>
		<header>
			<h4 id=title>通号生产测试远程大数据管理中心</h4>
			<span id=localtime style=" font-size:6px; position: absolute; right: 30px; top:-20px; "></span>
		</header>



		<div id="content">
			<div class="content_left">
				<div class="dtuplc">
					<div class="dtu">
						<div id="container" style="height: 100%;"></div>
					</div>
					<div class="plc">
						<div id="container1" style="height: 100%"></div>
					</div>
				</div>
				<!--
                	DTU和PLC完
                -->
                <div class="online">
                	<div class="title"><img src="images/icon01.png" /> 设备在线情况</div>
                	<div class="online_con" id="container2">

                	</div>
                </div>
                <div class="industry">
                	<div class="title"><img src="images/icon02.png" /> 接入工装类型</div>
                	<div class="industry_con" id="container3"></div>
                </div>
			</div>
			<div class="content_center">
				<div class="center_top">
					<div class="title"><img src="images/icon03.png" /> 平台数据分布</div>
					<div class="center_top_con" id="distribution_map">
					</div>
				</div>
				<div class="center_bot">
					<table class="panel-table"bordercolor="#0d48e0" border="1">
                        <thead bgcolor="#0e4ae0" align="center" >
                        <tr height="40">
                            <th colspan="6"><img src="images/icon04.png" /> 监控列表</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="aaa" align="center">
                        	<td v-for="item in factoryHeader" style="color: #00fcff; font-size: 18px; padding: 5px 0;">{{ item.categories }}</td>
                        </tr>

                        <!--
                        <tr v-for="w in factory.slice(0,3)" class="aaa" style="font-size: 16px;" align="center" >

                            <td>{{ w.company }}</td>
                            <td>{{ w.dtuCnt }}</td>
                            <td>{{ w.plcCnt }}</td>
                            <td>{{ w.dataCnt }}</td>
                            <td>{{ w.alarm }}</td>
                        -->




                        <tr class="aaa" style="font-size: 16px;" align="center" >

                            <td>基础院</td>
                            <td id=uu>55</td>
                            <td>2</td>
                            <td>2</td>
                            <td>2</td>


                            <td width="250">
                            	<button class="b1 click_pop">报警记录</button>
                            	<button class="b2 click_pop2">历史数据</button>
                            	<button class="b3 click_pop3">综合分析</button>
                            </td>
                        </tr>
                        <tr class="aaa" style="font-size: 16px;" align="center" >

                            <td>北信</td>
                            <td>2</td>
                            <td>2</td>
                            <td>2</td>
                            <td>2</td>


                            <td width="250">
                            	<button class="b1 click_pop">报警记录</button>
                            	<button class="b2 click_pop2">历史数据</button>
                            	<button class="b3 click_pop3">综合分析</button>
                            </td>
                        </tr>
                        <tr class="aaa" style="font-size: 16px;" align="center" >

                            <td>津信</td>
                            <td>2</td>
                            <td>2</td>
                            <td>2</td>
                            <td>2</td>


                            <td width="250">
                            	<button class="b1 click_pop">报警记录</button>
                            	<button class="b2 click_pop2">历史数据</button>
                            	<button class="b3 click_pop3">综合分析</button>
                            </td>
                        </tr>

                        <tr class="aaa" style="font-size: 16px;" align="center" >

                            <td>沈信</td>
                            <td>2</td>
                            <td>2</td>
                            <td>2</td>
                            <td>2</td>


                            <td width="250">
                            	<button class="b1 click_pop">报警记录</button>
                            	<button class="b2 click_pop2">历史数据</button>
                            	<button class="b3 click_pop3">综合分析</button>
                            </td>
                        </tr>

                        <tr class="aaa" style="font-size: 16px;" align="center" >

                            <td>上通</td>
                            <td>2</td>
                            <td>2</td>
                            <td>2</td>
                            <td>2</td>


                            <td width="250">
                            	<button class="b1 click_pop">报警记录</button>
                            	<button class="b2 click_pop2">历史数据</button>
                            	<button class="b3 click_pop3">综合分析</button>
                            </td>
                        </tr>




                        </tbody>
                    </table>
				</div>
			</div>
			<div class="content_right">
				<div class="report">
					<div class="report1">
						<p>告警信息</p>
						<small>{{alarm.alarm}}条</small>
					</div>
					<div class="report2">
						<p>故障信息</p>
						<small>{{alarm.fault}} 条</small>
					</div>
				</div>
				<div class="news_report">
					<div class="title"><img src="images/icon05.png" /> 报警记录</div>
					<div class="news_list">
						<ul>
							<li v-for="item in almMsg.slice(0,3)" class="li02">
							    {{ item.msg }}
							</li>
						</ul>
					</div>
				</div>
				<div class="data_box">
					<div class="title"><img src="images/icon06.png" /> 数据记录</div>
					<div class="data_con" id="container4">
					</div>
				</div>
			</div>
		</div>
		<!--遮罩层-->
		<div class="bgPop"></div>
		<!--弹出框-->
		<div class="pop">
		    <div class="pop-top">
		        报警记录
		        <span class="pop-close">Ｘ</span>
		    </div>
		    <div class="pop-content">
		        <table class="panel-table" bordercolor="#deefff" border="1">
                    <thead bgcolor="#971212" align="center" >
                        <tr height="38">
                            <th>字段</th>
                            <th>字段</th>
                            <th>字段</th>
                            <th>字段</th>
                            <th>字段</th>
                        </tr>
                    </thead>
                    <tbody>
                    <tr class="aaa" style="font-size: 16px;" align="center" >
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr class="aaa" style="font-size: 16px;" align="center" >
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr class="aaa" style="font-size: 16px;" align="center" >
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>

                    <tr class="aaa" style="font-size: 16px;" align="center" >
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                    </tbody>
                </table>
		    </div>
		    <div class="pop-foot">
		        <input type="button" value="确定" class="pop-cancel pop-close">
		    </div>
		</div>
		<!--遮罩层-->
		<div class="bgPop2"></div>
		<!--弹出框-->
		<div class="pop2">
		    <div class="pop-top">
		        历史记录
		        <span class="pop-close">Ｘ</span>
		    </div>
		    <div class="pop-content">
		        <table class="panel-table" bordercolor="#deefff" border="1">
                    <thead bgcolor="#10aaa5" align="center" >
                        <tr height="38">
                            <th>字段</th>
                            <th>字段</th>
                            <th>字段</th>
                            <th>字段</th>
                            <th>字段</th>
                        </tr>
                    </thead>
                    <tbody>
                    <tr class="aaa" style="font-size: 16px;" align="center" >
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr class="aaa" style="font-size: 16px;" align="center" >
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr class="aaa" style="font-size: 16px;" align="center" >
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>

                    <tr class="aaa" style="font-size: 16px;" align="center" >
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                    </tbody>
                </table>
		    </div>
		    <div class="pop-foot">
		        <input type="button" value="确定" class="pop-cancel pop-close">
		    </div>
		</div
		<!--遮罩层-->
		<div class="bgPop3"></div>
		<!--弹出框-->
		<div class="pop3">
		    <div class="pop-top">
		        组态应用
		        <span class="pop-close">Ｘ</span>
		    </div>
		    <div class="pop-content">
		        组态应用
		    </div>
		    <div class="pop-foot">
		        <input type="button" value="确定" class="pop-cancel pop-close">
		    </div>
		</div>
	</body>
</html>
