<!DOCTYPE html>
<html>
<head>
    <title>系统主页</title>
    <meta charset= 'utf-8' />
    <script src="{{ url_for('static', filename = 'js/flexible.js') }}"></script>
    <script src="{{ url_for('static', filename = 'js/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename = 'js/echarts.min.js') }}"></script>
    <link rel="stylesheet", href="{{ url_for('static', filename='css/style.css') }}" />
</head>
<script>
    alert('原始数据个数：' + {{ clean_result[0] }} + '\n' +
    '重复值个数：' + {{ clean_result[1] }} + '\n' +
    '异常值个数：' + {{ clean_result[2] }} + '\n' +
    '空白值个数：' + {{ clean_result[3] }} + '\n' +
    '清洗后数据个数：' + {{ clean_result[4] }})
</script>
<body style="background: url('../static/images/bg.jpg') repeat-y top center">
<p id="datas" style="display: none">{{ datas }}</p>
<header>
    <h1>统计数据分析</h1>
    <div class="showTime"></div>
    <script>
        var t = null;
        t = setTimeout(time, 1000);

        function time() {
            clearTimeout(t);
            dt = new Date();
            var y = dt.getFullYear();
            var mt = dt.getMonth() + 1;
            var day = dt.getDate();
            var h = dt.getHours();
            var m = dt.getMinutes();
            var s = dt.getSeconds();
            document.querySelector(".showTime").innerHTML = '当前时间：' + y + "年" + mt + "月" + day + "日-" + h + "时" + m + "分" + s + "秒";
            t = setTimeout(time, 1000);
        }
    </script>
</header>
<section style="color: #ffffff;display: flex;justify-content: center;">
    <div style="left:0; right:0; margin:auto;">
        {% for items in datas %}
            <table border = 1 style="overflow:hidden; margin: 0 auto;width:800px">
                <tr style="width:800px">
                    <th colspan={{ items['data'][0]|length }} style="position:relative" style="width:800px" align="center">
                        <p onclick="toggle(this)" style="position:relative;font-size:0.35rem">{{ items['title'] }}</p>
                        {% if items['type'] == 0 %}
                            <a style="text-decoration: none; outline: none; color: #ffffff; position:absolute; top:0; right:0; font-size: 0.1rem", href = "{{ url_for('static', filename='result/' + items['download'] + '.csv') }}", download = "{{ items['download'] + '.csv' }}">下载数据</a>
                        {% endif %}
                    </th>
                </tr>
                {% if items['type'] == 0 %}
                    {% for line in items['data'] %}
                        <tr class="show" style="position:relative;width:800px" align="center">
                            {% for unit in line %}
                                <td>{{ unit }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr class="show" style="width:800px" align="center">
                        <td><img style="max-width:100%;" src="{{ url_for('static', filename='images/tmp/' + items['data'])}}" alt="图片不见惹" width="800rem" /></td>
                    </tr>
                {% endif %}
            </table>
        {% endfor%}
        <script>
            function toggle(obj) {
                $(obj).parent().parent().siblings().toggle();
            }
            function download(obj, items) {
                filename = items['download'] + ".csv"
                if ('download' in document.createElement('a')) {
                    let link = document.createElement('a');
                    link.download = filename;
                    link.style.display = 'none';
                    link.href = URL.createObjectURL(['123'], {type: 'csv'})

                    if ('download' in document.createElement('a')) {

                    }
                }
                $.ajax({
                    url: items['download'],
                    method: "post",
                    success: function (result, state, xhr) {//3个参数
                        //result:请求到的结果数据
                        //state:请求状态（success）
                        //xhr:XMLHttpRequest对象

                        // 从Response Headers中获取fileName
                        let fileName = xhr.getResponseHeader('Content-Disposition').split(';')[1].split('=')[1].replace(/\"/g, '')
                        //获取下载文件的类型
                        let type = xhr.getResponseHeader("content-type")
                        //结果数据类型处理
                        let blob = new Blob([result], { type: type })

                        //对于<a>标签，只有 Firefox 和 Chrome（内核）支持 download 属性
                        //IE10以上支持blob，但是依然不支持download
                        if ('download' in document.createElement('a')) {//支持a标签download的浏览器
                            //通过创建a标签实现
                            let link = document.createElement("a");
                            //文件名
                            link.download = fileName;
                            link.style.display = "none"
                            link.href = URL.createObjectURL(blob);
                            document.body.appendChild(link);
                            link.click();//执行下载
                            URL.revokeObjectURL(link.href);//释放url
                            document.body.removeChild(link);//释放标签
                        } else {//不支持
                            if (window.navigator.msSaveOrOpenBlob) {
                                window.navigator.msSaveOrOpenBlob(blob, fileName)
                            }
                        }
                    },
                })
            }

        </script>
    </div>
</section>
</body>
</html>